*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* default */
body {
    font-family:system-ui, system-ui, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}
.Phone{
    color:white;margin-right: 3px;
}
/* Hero section starts */
section{
    width: 100%;
    height:auto;
    padding:40px 25px;
   
}
.container{
    max-width:1070px;

}
.hero{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-content{
    text-align:right;
    display: flex;
    align-items: flex-end;
    margin-left:300px;
    padding-bottom: 20px;
}
.hero-left{
    width:50%;
    background-color: red;
}
.hero-right{
    width:50%;
    margin-top:100px;
    position: relative;
}
.header-title{
    width:400px;
    font-size:3.6em;
    font-weight:bold;
    margin-right:0px;
    font-family:system-ui, system-ui, sans-serif;
    margin-bottom:25px;
   
}
.header-desc{
    width:400px;
    color:gray;
    font-size:18px;
    margin:25px 0;
    line-height:30px; 
}

.btn-primary{
     width: fit-content;
     color:white;
     background-color: #BE3C00;
     border:none;
     margin-right:-12px;
     text-decoration: none;
     padding:15px 20px;
     border-radius: 5px;
     transition: 0.3s;
     font-size:18px;
     
}
.btn-primary:hover{
    background-color: #BE3C00;
    cursor: pointer;
    background-color: darkorange;
}
.btn-Phone{
    color:white;margin-right: 3px;
    font-size:18px;
}
/* /* Hero section ends */
.falure-title{
    font-weight: 600;
    font-size:32px;
    justify-content: center;
}
.failure-content{
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-left:100px;
}

.falure-left img{
    width:80%;
}

.falure-right ul li{
    list-style:none;
    justify-content: left;
    text-align: left;
    padding:10px;
    font-size:18px;
}
ul li i{
    color:#27FF00 ;
    margin-right: 15px;
    font-size:25px;
   
}
.falure-right .header-desc{
    text-align:left;
    padding-top:20px;
    padding-bottom:15px;

}
